@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    @variants responsive {
        .text-shadow {
            text-shadow: 0px 0px 1px rgb(0 0 0 / 20%), 0px 0px 1px rgb(1 0 5 / 10%);
        }

        .text-shadow-sm {
            text-shadow: 1px 1px 3px rgb(36 37 47 / 25%);
        }

        .text-shadow-md {
            text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
        }

        .text-shadow-lg {
            text-shadow: 3px 3px 6px rgb(0 0 0 / 26%), 0 0 5px rgb(15 3 86 / 22%);
        }

        .text-shadow-xl {
            text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%);
        }

        .text-shadow-none {
            text-shadow: none;
        }
    }
}

@font-face {
    font-family: "Icomoon Icons";
    src: url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.eot") format("embedded-opentype");
}

.custom-fa {
    font-family: "Icomoon Icons";
    font-weight: 400;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1px;
    font-size: 30px;
    text-rendering: auto;
    vertical-align: -0.275em;
}

.custom-fa-roblox:before {
    content: "\e900";
}

.highlight-under {
    display: inline;
    border-bottom: 2px solid rgba(161, 161, 170, 1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.canvas-blur {
    filter: blur(0.5em) brightness(30%);
}

.canvas-unblur {
    animation: 1s ease-out 0s 1 canvasUnblur;
}

.arrow {
    border-bottom-color: #121930 !important;
    border: 5px solid transparent;
}

.tooltip {
    background-color: #121930;
    box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.24);
}

.tooltip.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

.filter-hover:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(85%) saturate(367%) hue-rotate(180deg) brightness(88%) contrast(92%);
}

@keyframes canvasUnblur {
    0% {
        filter: blur(0.5em) brightness(30%);
    }

    100% {
        filter: blur(0) brightness(100%);
    }
}